<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0;minimum-scale=1.0, maximum-scale=1.0">
<title>交易服务</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/common.css">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <link rel="stylesheet" href="../../assets/css/responsive.css">


</head>

<body class="bg7">
<div class="fun-top-panel bg7  ">
  <span class="mess-back "><div class="cont"></div></span>
  <span class="title c3 f3 dblock2 t-center ">交易服务</span>
</div>


<div class="main-top p-fix">
      <section class="index-v20-top f-flex bg7 clearfix"  >
        <div class="sear-bb ">
          <div class=" new-search clearfix">
            <section class="sear-c posi2 clearfix">
              <form action="" class="input-search-form" id="search_from"  >
                <input type="search"  input autocomplete="off" placeholder="输入关键字搜索" ng-model="search.text" class="f2 " >
              </form>
              <button class="sea-btn" ng-click="searchLike()"><span class="gg-search" ></span></button>
            </section>
          </div>
        </div>
        <div class="message-b f-right  t-center">
          <span class="message m2 posi2 c-p"><b class="c-flag3"  ></b></span>
        </div>

      </section>
      <section class=" nav-bar  ps bg7 border-b1 ">
        <div class="  t-center">
          <span class="f3-1 active">未完成</span>
        </div>
        <div class="  t-center">
          <span class="f3-1">已完成</span>
        </div>
      </section>
      <section class="bg7 fresh posi2 border-b1 clearfix ">
        <div class="box f1-2">
          <div class="sel-box sb2">
            <select>
              <option>状态</option>
              <option>应续期周期1</option>
              <option>应续期周期1</option>
              <option>应续期周期1</option>
            </select>
          </div>
          <div class="sel-box ">
            <select>
              <option>状态</option>
              <option>应续期周期1</option>
              <option>应续期周期1</option>
              <option>应续期周期1</option>
            </select>
          </div>
          <button class="sea-btn "><b></b></button>
        </div>
      </section>
</div>
<div class="main-container mar4-4 clearfix">
  <section class=" mar3">
    <div class="b-sh1  pad5-5 bg7 mar6-2 mar7-3">
      <section class="mar20 bg7 " >
            <div class="order-box-2020 " >
                  <h3 class="  order-tit posi2 f3 c3">
                        <div class="col-9 pad0 tit mess">华夏华夏红（钻石版）年金保险 </div>
                        <span class="status f1 ts3">投保录入中</span>
                    <span class="status f1 ts4" >客户录入单</span> <!--双录状态-->
                        <div class="col-12 f2 c4 t-left time">创建时间：2020-09-17 14:25:13.0</div>
                  </h3>

                  <div class="order-box  clearfix posi2">
                    <section class="f2 pad0" >
                        <p class="order-info"><span class="p-tit">订单号</span><span class="c4">2020000000203349</span></p>
                        <p><span class="p-tit">投保人</span><span class="c4">啦啦</span></p>
                        <p><span class="p-tit">保费</span><span class="c4">35000</span> </p>
                        <p class="order-memo clearfix border-t2"><span class="p-tit f-left">备注</span><span class="c222 mess5 memo"></span></p>
                    </section>
                  </div>
            </div>
            <div class="t-right pad557 posi2 bg7">
                    <button class="f-left btn sxt-btn-3 showMoreBtn" title="展开剩余菜单" ></button>
                    <div class="sl-other-b ">
                        <b class="sl-trangle"></b>
                        <span class="border-b1" >订单轨迹</span>
                        <span >写备忘</span>
                    </div>
                    <button class=" ek-btn-3 f1" >照会</button>
                    <button class=" ek-btn-3 f1" >取消订单</button>
                    <button class=" ek-btn-4  f1 " >继续录入</button>
                    <button class=" ek-btn-3 wi1 f1">刷新</button>
              </div>
      </section>
    </div>
    <div class="b-sh1  pad5-5 bg7 mar6-2 mar7-3">
      <section class="mar20 bg7 " >
        <div class="order-box-2020 " >
          <h3 class="  order-tit posi2 f3 c3">
            <div class="col-9 pad0 tit mess">华夏华夏红（钻石版）年金保险 </div>
            <span class="status f1 ts3">投保录入中</span>
            <span class="status f1 ts4" >客户录入单</span> <!--双录状态-->
            <div class="col-12 f2 c4 t-left time">创建时间：2020-09-17 14:25:13.0</div>
          </h3>

          <div class="order-box  clearfix posi2">
            <section class="f2 pad0" >
              <p class="order-info"><span class="p-tit">订单号</span><span class="c4">2020000000203349</span></p>
              <p><span class="p-tit">投保人</span><span class="c4">啦啦</span></p>
              <p><span class="p-tit">保费</span><span class="c4">35000</span> </p>
              <p class="order-memo clearfix border-t2"><span class="p-tit f-left">备注</span><span class="c222 mess5 memo"></span></p>
            </section>
          </div>
        </div>
        <div class="t-right pad557 posi2 bg7">
          <button class="f-left btn sxt-btn-3 showMoreBtn" title="展开剩余菜单" ></button>
          <div class="sl-other-b ">
            <b class="sl-trangle"></b>
            <span class="border-b1" >订单轨迹</span>
            <span >写备忘</span>
          </div>
          <button class=" ek-btn-3 f1" >照会</button>
          <button class=" ek-btn-3 f1" >取消订单</button>
          <button class=" ek-btn-4  f1 " >继续录入</button>
          <button class=" ek-btn-3 wi1 f1">刷新</button>
        </div>
      </section>
    </div>
    <div class="b-sh1  pad5-5 bg7 mar6-2 mar7-3">
      <section class="mar20 bg7 " >
        <div class="order-box-2020 " >
          <h3 class="  order-tit posi2 f3 c3">
            <div class="col-9 pad0 tit mess">华夏华夏红（钻石版）年金保险 </div>
            <span class="status f1 ts3">投保录入中</span>
            <span class="status f1 ts4" >客户录入单</span> <!--双录状态-->
            <div class="col-12 f2 c4 t-left time">创建时间：2020-09-17 14:25:13.0</div>
          </h3>

          <div class="order-box  clearfix posi2">
            <section class="f2 pad0" >
              <p class="order-info"><span class="p-tit">订单号</span><span class="c4">2020000000203349</span></p>
              <p><span class="p-tit">投保人</span><span class="c4">啦啦</span></p>
              <p><span class="p-tit">保费</span><span class="c4">35000</span> </p>
              <p class="order-memo clearfix border-t2"><span class="p-tit f-left">备注</span><span class="c222 mess5 memo"></span></p>
            </section>
          </div>
        </div>
        <div class="t-right pad557 posi2 bg7">
          <button class="f-left btn sxt-btn-3 showMoreBtn" title="展开剩余菜单" ></button>
          <div class="sl-other-b ">
            <b class="sl-trangle"></b>
            <span class="border-b1" >订单轨迹</span>
            <span >写备忘</span>
          </div>
          <button class=" ek-btn-3 f1" >照会</button>
          <button class=" ek-btn-3 f1" >取消订单</button>
          <button class=" ek-btn-4  f1 " >继续录入</button>
          <button class=" ek-btn-3 wi1 f1">刷新</button>
        </div>
      </section>
    </div>

  </section>
</div>

<div class="fun-panel clearfix">
  <div class="f-left  blk active">
    <span class="icon one"></span>
    <div class="f0 txt t-center">首页</div>
  </div>
  <div class="f-left  blk">
    <span class="icon two"></span>
    <div class="f0 txt t-center">数字行销</div>
  </div>
  <div class="f-left  blk ">
    <span class="icon three"></span>
    <div class="f0 txt t-center">会话消息</div>
  </div>
  <div class="f-left  blk ">
    <span class="icon four"></span>
    <div class="f0 txt t-center">交易服务</div>
  </div>
  <div class="f-left  blk ">
    <span class="icon five"></span>
    <div class="f0 txt t-center">我的</div>
  </div>
</div>
</body>
</html>
