<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0;minimum-scale=1.0, maximum-scale=1.0">
<title>交易服务</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/jquery.spinner.min.css">
  <link rel="stylesheet" href="../../assets/css/common.css">
  <link rel="stylesheet" href="../../assets/css/main.css">

  <link rel="stylesheet" href="../../assets/css/responsive.css">


</head>

<body class="bg3">
<div class="fun-top-panel bg7  ">
  <span class="mess-back "><div class="cont"></div></span>
  <span class="title c3 f3 dblock2 t-center ">数字行销</span>

</div>
<div class="main-top p-fix bg7 b-radius2">
      <section class="f-flex pad7-1 border-b1">
        <div class="sear-bb ">
          <div class=" new-search ns clearfix">
            <section class="sear-c posi2 clearfix">
              <form action="" class="input-search-form" id="search_from"  >
                <input type="search"  input autocomplete="off" placeholder="输入关键字搜索" ng-model="search.text" class="f2 " >
              </form>
              <button class="sea-btn" ng-click="searchLike()"><span class="gg-search" ></span></button>
            </section>
          </div>
        </div>
        <div class="all-box t-center f2 c8 l-h2">全部客户</div>
      </section>
      <div class="sale-nav row mar0 pad6">
          <div class="col-6"> <div class="sale-btn-l t-center"><b class="s-icon b1"></b>获取客户</div></div>
          <div class="col-6"> <div class="sale-btn-r t-center"><b class="s-icon b2"></b>自建客户</div></div>
      </div>
</div>
<div class="main-container mar4-4 clearfix">
  <section class="bg7 ">
      <div class="blk-cont-box posi2 border-b1 mar6-2">
          <div class="img-box posi2">
                <img src="../../assets/img/index/bar_bg.png" />
                <b class="state c-p">分配客户</b>
          </div>
          <div class="right-box posi2  c-p" >
                <h3 class="f2 c6 mar7-2">范晓华</span>
                </h3>
                <div class="f2 c4 ">
                  <span>年龄：</span><span>30岁</span>
                </div>
                <div class=" f2 c4">
                  <span>客户星级：</span><span class="stars-box"><i></i><i></i><i></i><i></i><i class="grey"></i></span>
                </div>
                <div class=" f2 c4">
                  <span>订单状态：</span><span class="c8">投保录入中</span>
                </div>
                <div class=" f2 c4">
                  <span>订单更新时间：</span><span>2020-08-20 15:00</span>
                </div>
                <div class="f1"><b class="ek-btn-5">赠险活动客户</b></div>
          </div>
          <b class="flag">客户行销</b>
      </div>
        <div class="blk-cont-box posi2 border-b1 mar6-2">
          <div class="img-box posi2">
            <img src="../../assets/img/index/bar_bg.png" />
            <b class="state c-p">分配客户</b>
          </div>
          <div class="right-box posi2  c-p" >
            <h3 class="f2 c6 mar7-2">范晓华</span>
            </h3>
            <div class="f2 c4 ">
              <span>年龄：</span><span>30岁</span><b class="s-icon b3"></b>
            </div>
            <div class=" f2 c4">
              <span>客户星级：</span><span>重庆分公司</span>
            </div>
            <div class=" f2 c4">
              <span>订单状态：</span><span class="c8">投保录入中</span>
            </div>
            <div class=" f2 c4">
              <span>订单更新时间：</span><span>2020-08-20 15:00</span>
            </div>
          </div>
          <b class="flag">客户行销</b>
        </div>
        <div class="blk-cont-box posi2 border-b1 mar6-2">
          <div class="img-box posi2">
            <img src="../../assets/img/index/bar_bg.png" />
            <b class="state c-p">分配客户</b>
          </div>
          <div class="right-box posi2  c-p" >
            <h3 class="f2 c6 mar7-2">范晓华</span>
            </h3>
            <div class="f2 c4 ">
              <span>年龄：</span><span>30岁</span>
            </div>
            <div class=" f2 c4">
              <span>客户星级：</span><span>重庆分公司</span>
            </div>
            <div class=" f2 c4">
              <span>订单状态：</span><span class="c8">投保录入中</span>
            </div>
            <div class=" f2 c4">
              <span>订单更新时间：</span><span>2020-08-20 15:00</span>
            </div>
          </div>
          <b class="flag">客户行销</b>
        </div>
  </section>
</div>

<div class="fun-panel clearfix">
  <div class="f-left  blk active">
    <span class="icon one"></span>
    <div class="f0 txt t-center">首页</div>
  </div>
  <div class="f-left  blk">
    <span class="icon two"></span>
    <div class="f0 txt t-center">数字行销</div>
  </div>
  <div class="f-left  blk ">
    <span class="icon three"></span>
    <div class="f0 txt t-center">会话消息</div>
  </div>
  <div class="f-left  blk ">
    <span class="icon four"></span>
    <div class="f0 txt t-center">交易服务</div>
  </div>
  <div class="f-left  blk ">
    <span class="icon five"></span>
    <div class="f0 txt t-center">我的</div>
  </div>
</div>


<!--弹框-->
<div class="mask-layer"></div>
<div class="pop-box5 bg7 b-radius1" >
  <div class="">
    <h3 class="pad6  t-center f3 c6 ">获取客户</h3>
    <div class="mar3-2 ">

      <section class="pad5-5  bg7">

        <div class=" t-center">
          <input type="text" class="spinner-star"/>
        </div>
          <div class="f1 c5 t-center">今日剩余可取数量3人</div>
        <div class="pad6">
          <button type="button" class="hx-bt3 bt2 active t-center">保存</button>
        </div>
        <div class=" bg3 b-radius3 pad5-12">
          <h3 class="f2 c5 t-center ek-com-tit4"><span>客户获取说明</span></h3>
          <p class="f2 c5">1.发放时间：获取客户后，会在2日内将所取客户为您分配到待跟进的客户列表中。若超时未分配，可联系管理人员进行处理。
          2.数量限制：每日可获取的最大客户数量，根据行销人员的销售等级进行划分。其中A级行销人员，每日最多可获取10位；B级行销人员，每日最多可获取5位；C级行销人员，每日最多可获取3位；D级行销人员，每日最多可获取1位。
          </p>
        </div>
      </section>



    </div>



  </div>
</div>

</body>
<script src="../../assets/js/jquery/jquery.min.js"></script>
<script src="../../assets/js/plugs/jquery.spinner.min.js"></script>
<script type="text/javascript">
  $(function(){
    $('.spinner-star').spinner({
      max:5,
      min:0,
      step:1
    });
  });
</script>
</html>
