<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0;minimum-scale=1.0, maximum-scale=1.0">
  <title>选择发言人</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/common.css">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <link rel="stylesheet" href="../../assets/css/responsive.css">


</head>

<body class="bg3">
<div class="fun-top-panel bg7  ">
    <span class="mess-back "><div class="cont"></div></span>
    <span class="title c3 f3 dblock2 t-center ">选择发言人</span>
</div>
<div class="main-top p-fix bg7 border-t b-radius2">
  <section class="f-flex pad7-1 border-b1">
    <div class="sear-bb ">
      <div class=" new-search ns clearfix">
        <section class="sear-c posi2 clearfix">
          <form action="" class="input-search-form" id="search_from"  >
            <input type="search"  input autocomplete="off" placeholder="输入关键字搜索" ng-model="search.text" class="f2 " >
          </form>
          <button class="sea-btn" ng-click="searchLike()"><span class="gg-search" ></span></button>
        </section>
      </div>
    </div>
    <div class="all-box t-center f2 c8 l-h2">
      <div class="sel-pp5 all pro active"><!--active为选中状态-->
        <span>筛选</span><span class="triangle-b5 "></span>
      </div>
    </div>
  </section>
</div>
<section class="bg7 b-radius2 posi3-1">
  <div class="clearfix ">
    <div class="pad1-3">
      <ul>
        <li class="l-h3 c-p border-b1 c5 f2">全部</li>
        <li class="l-h3 c-p border-b1 c5 f2">待续费</li>
        <li class="l-h3 c-p border-b1 c5 f2">深度互动</li>
        <li class="l-h3 c-p c5 f2">高净值</li>
      </ul>
    </div>
  </div>
</section>
<div class="main-container mar4-6 clearfix">
  <section class="cus-list">
        <div class="tit f3 t-left c4">A</div>
        <div class="list bg7 border-b1 posi2">
              <div class="img-box ">
                <img src="../../assets/img/index/bar_bg.png">
              </div>
              <h3 class="right-box f3 c6 ">范晓华</h3>
          <div class="sel-b4 sb1">
            <label>
              <input type="checkbox"><b></b>
            </label>
          </div>
        </div>
        <div class="list bg7 border-b1 posi2">
          <div class="img-box ">
            <img src="../../assets/img/index/bar_bg.png">
          </div>
          <h3 class="right-box f3 c6 ">范晓华</h3>
          <div class="sel-b4 sb1">
            <label>
              <input type="checkbox"><b></b>
            </label>
          </div>
        </div>
        <div class="list bg7 border-b1 posi2">
          <div class="img-box ">
            <img src="../../assets/img/index/bar_bg.png">
          </div>
          <h3 class="right-box f3 c6 ">范晓华</h3>
          <div class="sel-b4 sb1">
            <label>
              <input type="checkbox"><b></b>
            </label>
          </div>
        </div>
  </section>
  <section class="cus-list">
    <div class="tit f3 t-left c4">B</div>
    <div class="list bg7 border-b1 posi2">
      <div class="img-box posi2">
        <img src="../../assets/img/index/bar_bg.png">
      </div>
      <h3 class="right-box f3 c6 ">范晓华</h3>
      <div class="sel-b4 sb1">
        <label>
          <input type="checkbox"><b></b>
        </label>
      </div>
    </div>
    <div class="list bg7 border-b1 posi2">
      <div class="img-box posi2">
        <img src="../../assets/img/index/bar_bg.png">
      </div>
      <h3 class="right-box f3 c6 ">范晓华</h3>
      <div class="sel-b4 sb1">
        <label>
          <input type="checkbox"><b></b>
        </label>
      </div>
    </div>
    <div class="list bg7 border-b1 posi2">
      <div class="img-box posi2">
        <img src="../../assets/img/index/bar_bg.png">
      </div>
      <h3 class="right-box f3 c6 ">范晓华</h3>
      <div class="sel-b4 sb1">
        <label>
          <input type="checkbox"><b></b>
        </label>
      </div>
    </div>
  </section>

</div>

<div class="fun-panel clearfix">
  <div class="f-left  blk ">
    <span class="icon one"></span>
    <div class="f0 txt t-center">首页</div>
  </div>
  <div class="f-left  blk">
    <span class="icon two"></span>
    <div class="f0 txt t-center">数字行销</div>
  </div>
  <div class="f-left  blk active">
    <span class="icon three"></span>
    <div class="f0 txt t-center">会话消息</div>
  </div>
  <div class="f-left  blk ">
    <span class="icon four"></span>
    <div class="f0 txt t-center">交易服务</div>
  </div>
  <div class="f-left  blk ">
    <span class="icon five"></span>
    <div class="f0 txt t-center">我的</div>
  </div>
</div>
<div class="mask-layer2"></div>
<!--<div class="posi5 pad5-8 bg7 b-sh4">
  <button type="button" class="hx-bt3 t-center">返回</button>
</div>-->
</body>
</html>
