<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0;minimum-scale=1.0, maximum-scale=1.0">
<title>微店</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/common.css">
  <link rel="stylesheet" href="../../assets/css/main.css">
  <link rel="stylesheet" href="../../assets/css/responsive.css">


</head>

<body class="bg3">
<div class="fun-top-panel bg-my  ">
  <span class="mess-back "><div class="cont-wh"></div></span>
  <span class="title c7 f4 dblock2 t-center ">微店</span>
</div>
<div class="main-container mar1  clearfix">

  <div class="my-n-txtbox s-bg">
    <div class="top-one  clearfix" >
      <div class=" pad3 right-box posi2 c7 " >
        <h3 class=" f3 c-p">范晓华<b title="编辑"></b></span>
        </h3>
        <div class="f2 c7 mar3-1 mar7">
          <b class="my-btn wx c-p"  title="微信"></b>
          <b class="my-btn tel c-p" title="微信"></b>
          <b class="my-btn share c-p" title="微信"></b>
        </div>
      </div>

      <div class="img-box  posi2">
        <img src="../../assets/img/index/bar_bg.png" />
        <h3 class="state f2 c-p">TSR</h3>
      </div>
    </div>
  </div>
  <div class="bg7 mar3-8 mar7-3 b-sh1 new-nav-box tools">
    <ul class="clearfix">
      <li class="  f2 pad1 c-p" >
        <span class="store-1"></span>精选
      </li>
      <li class=" f2 pad1 c-p" ng-click="href('/userAchievement')">
        <span class="store-2"></span>意健险
      </li>
      <li class=" f2 pad1 c-p" ng-click="href('/customerP/BD')">
        <span class="store-3"></span>寿险
      </li>
      <li class="f2 pad1 c-p" ng-click="href('/meeting')">
        <span class="store-4"></span>车险
      </li>
    </ul>
  </div>
  <section class="bg7 pad6 b-radius1" >
    <section class="blk-cont2020  ">
      <ul class="cont-blk  icon-wrap ">
        <li class="li-p2  posi2 clearfix">
          <div class="product2020 f-left posi2">
            <img class="lazy-p" src="https://www.baoxian.com/product_file/ERiskPic/100901007.jpg" alt="pic">
            <span class="state"><i class="t1"></i>网销</span>
          </div>
          <div class="info-blk  ">
            <h3 class=" mess f3 c44 ">信泰如意尊终身寿险</h3>
            <p class="f1  mar444 mess">锁定利率，高额航空意外，定向传承</p>
            <div class="t-left mar444">
              <span class="type2020 ts">推荐</span>
              <span class="type2020 hot">热销</span>
            </div>
            <div class="f2-1 c9 sub-info clearfix">
              <span>5000￥起</span>
            </div>

          </div>
        </li>
        <li class="li-p2  posi2 clearfix">
          <div class="product2020 f-left posi2">
            <img class="lazy-p" src="https://www.baoxian.com/product_file/ERiskPic/100901007.jpg" alt="pic">
            <span class="state"><i class="t2"></i>中介</span>
          </div>
          <div class="info-blk  ">
            <h3 class=" mess f3 c44 ">信泰如意尊终身寿险</h3>
            <p class="f1  mar444 mess">锁定利率，高额航空意外，定向传承</p>
            <div class="t-left mar444">
              <span class="type2020 ts">推荐</span>
              <span class="type2020 hot">热销</span>
            </div>
            <div class="f2-1 c9 sub-info clearfix">
              <span>5000￥起</span>
            </div>

          </div>
        </li>
        <li class="li-p2  posi2 clearfix">
          <div class="product2020 f-left posi2">
            <img class="lazy-p" src="https://www.baoxian.com/product_file/ERiskPic/100901007.jpg" alt="pic">
            <span class="state"><i class="t1"></i>网销</span>
          </div>
          <div class="info-blk  ">
            <h3 class=" mess f3 c44 ">信泰如意尊终身寿险</h3>
            <p class="f1  mar444 mess">锁定利率，高额航空意外，定向传承</p>
            <div class="t-left mar444">
              <span class="type2020 ts">推荐</span>
              <span class="type2020 hot">热销</span>
            </div>
            <div class="f2-1 c9 sub-info clearfix">
              <span>5000￥起</span>
            </div>

          </div>
        </li>
      </ul>
    </section>

  </section>



</div>
<div class="posi5 pad5-8 bg7 b-sh4">
  <button type="button" class="hx-bt3 t-center">添加精选产品</button>
</div>

</body>
</html>
